@import "bourbon";

$color1: rgb(39, 174, 96); // green
$color2: rgb(52, 127, 196); // blue
$color3: rgb(192, 57, 43); // red
$color4: #999; //gray table

// color codes from 200
$type1: rgb(78, 181, 9); //200 
$type2: rgb(154, 128, 34); //300
$type3: rgb(231, 76, 60); //400-500