@import "bourbon";
@import "vars.scss";

//Load Libs SASS
@import "app/libs/animate/animate.sass";

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}

*:-moz-placeholder {
	color: #666;
	opacity: 1;
}

*::-moz-placeholder {
	color: #666;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: #666
}
body input:required:valid,
body textarea:required:valid {
	color: #666
}
.color1 {
	color: $color1;
}
.color2 {
	color: $color2;
}
.color3 {
	color: $color3;
}
.color4 {
	color: $color4;
}

//Custom Styles Here
.tab-content {
	padding: 20px;
	h2 {
		font-size: 26px;
	}
	p {
		font-size: 14px;
		margin-bottom: 10px;
	}
	.tab-content {
		background: #fff;
		h3 {
			font-size: 22px;
		    line-height: 30px;
		    font-weight: 300;
		}

	}
}

table.table-api {
	border-collapse: collapse;
	width: 100%;
	font-size: 12px;
    font-weight: normal;
    color: #333c4e;
    tr {
    	transition: 0.3s;
    	cursor: pointer;
    	&:hover {
    		background: #f3f3f3;
    		transition: 0.3s;
    	}
    	&:nth-child(2n) {
    		background: #f9f9f9;
    	}
    	&.active {
    		background: #f9f9f9;
    		.d-none {
    			display: block !important;
    		}
    	}
    }
    td {
    	border: 1px solid #eee;
    	padding: 5px 8px;
    	vertical-align: top;
    	&:first-child {
    		padding-left: 15px;
    		width: 200px;
    	}
    	&:last-child {
    		padding-right: 15px;
    	}
    }
}

table.table-api-with-codes {
	border-collapse: collapse;
	width: 100%;
	font-size: 12px;
    font-weight: normal;
    color: #333c4e;
    a.collapseToggle {
		font-size: 12px;
	    font-weight: normal;
	    color: #333c4e;
	    float: right;
	    &:hover,
	    &:focus,
	    &:active {
	    	text-decoration: none;
	    }
    }
    td {
    	border: 1px solid #eee;
    	padding: 5px 8px;
    	vertical-align: top;
    	&:first-child {
    		padding: 0px;
    		width: 100px;
    	}
    	&:last-child {
    		padding-right: 15px;
    	}
    	span.code {
    		position: relative;
    		padding-left: 18px;
    		opacity: 0.6;
    		&:before {
    			content: '';
    			height: 9px;
    		    width: 9px;
    		    border-radius: 50%;
    		    transition: all 0.2s;
    		    display: block;
    		    position: absolute;
    		    left: 0;
    		    top: 2px;
    		}
    	}
    	.type1 {
			&:before {
				background: $color1;
			}
    	}
    	.type2 {
			&:before {
				background: $color2;
			}
    	}
    	.type3 {
			&:before {
				background: $color3;
			}
    	}
    	.type4 {
			&:before {
				background: $color4;
			}
    	}
    	.nav-tabs {
    		border: none;
    		.nav-item {
    			width: 100%;
    			border: none;
    			margin: 0px;
    			.nav-link {
    				background: none;
    				border: none;
					font-size: 12px;
				    font-weight: normal;
				    color: #333c4e;
				    transition: 0.3s;
				    &:hover {
				    	transition: 0.3s;
				    	background: #f3f3f3;
				    }
				    &.active {
				    	span.code {
				    		opacity: 1;
				    	}
				    }
    			}
    		}
    	}
    	.tab-content {
    		background: none;
    		padding: 0px;
    	}
    }
}


//ALWAYS END
@import "media"
